<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="methods" name="MercurySite">
  <test thread-count="2" parallel="methods" name="Registerform">
    <classes>
      <class name="testngpackage.FirstTestngClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
